.reservation-item {
  background-color: #121212;
  color: #00ff7f;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 12px;
  margin-bottom: 0.7rem;
  font-family: monospace;
}

.reservation-item strong {
  color: #00ff7f;
}
