
<app-search (searchTerm)="onSearch($event)"></app-search>



<div class="container2">
    <div class="filter" postion="left">
    </div>
    <div class="display" *ngIf="movies" >
        <mat-card class="example-card2" *ngFor="let movie of filteredMovies" appearance="outlined">
            <img [src]="movie.poster" mat-card-image>
            <mat-card-content>
                <h4 class="title">{{movie.title}}</h4>
                <p>{{utils.formatRuntime(movie.runTime)}}</p>
                <p class="title">
                    <span *ngFor="let genre of movie.movieGenres; let last = last">
                        {{genre.genre.name}}{{last ? '' : ', '}}
                    </span>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/details/' + movie.movieId]" mat-button><i class="fa-solid fa-ticket"></i>UZMI KARTE</a>
            </mat-card-actions>
        </mat-card>
    </div>  