<div *ngIf="error" class="container">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
            <h1>An error has occurred</h1>
            <p color="red">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="movies" class="scroll-container">
    <button mat-icon-button class="scroll-btn left" (click)="scrollLeft()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div  class="movielist" #scrollable>
        <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
            <img mat-card-image [src]='movie.poster'>
            <mat-card-content>
                <h1 class="title">{{movie.title}}</h1>
                <h4>{{utils.formatRuntime(movie.runTime)}}</h4>
                <p>U bioskopu od {{utils.formatDate(movie.startDate)}}</p>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/details/' + movie.movieId]" mat-button><i class="fa-solid fa-ticket"></i>UZMI KARTE</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-icon-button class="scroll-btn right" (click)="scrollRight()">
        <mat-icon>chevron_right</mat-icon>
    </button>

</div>


<div class="container2">
    <div class="filter" postion="left">
    </div>
    <div class="display" *ngIf="movies" >
        <mat-card class="example-card2" *ngFor="let movie of movies" appearance="outlined">
            <img [src]="movie.poster" mat-card-image>
            <mat-card-content>
                <h4 class="title">{{movie.title}}</h4>
                <p>{{utils.formatRuntime(movie.runTime)}}</p>
                <p class="title">
                    <span *ngFor="let genre of movie.movieGenres; let last = last">
                        {{genre.genre.name}}{{last ? '' : ', '}}
                    </span>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/details/' + movie.movieId]" mat-button><i class="fa-solid fa-ticket"></i>UZMI KARTE</a>
            </mat-card-actions>
        </mat-card>
    </div>  